html {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 1.5rem;
}

#about {
    background-image: url("./images/beach.jpg");
}
#landing {
    background-image: url("./images/fish.jpg");
}

#landing, #about {
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100vh;
	background-attachment: scroll;
}

#landing-row, #about-row {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#profile {
    font-family: 'Passion One', cursive !important;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.logos {
    max-width: 150px;
}

hr {
    visibility: hidden;
}

a:hover {
    text-decoration: underline;

}