html {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 1.5rem;
}

#landing {
    background-image: url("./bg pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100vh;
	background-attachment: scroll;
}

#landing-row {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

#profile {
    font-family: 'Passion One', cursive !important;
}

#profile > p {
    font-family: 'Caveat', cursive;
}